
.About{font-family: 'Roboto Slab', serif; width: 100%;}
.Header__About{width: 100%;height: 600px;}

.Header__Image{width: 100%;height: 600px;}

.Header__Image img{width: 100%;height: 600px;}

.Image__content{
    position: absolute;
    top: 35%;left: 35%;
    color: white;
    font-family: 'Roboto Slab', serif;font-size: 100px;
    text-shadow: 2px 2px #67BD93;
}


.School__section{
    display: flex;
    width: 100%; 
    height: 400px;;
}

.School__info{
    width: 60%;
    height: 400px;
    margin: 0px 15px;
    background-color:#67BD93;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

}
.School__info p{
    position: relative;top: 15%; 
    margin: 15px 20px;text-align: justify;
    font-size:20px;
    text-shadow: 1px 1px white;
    
}

.School__image{width: 40%;}

.School__image img{
    width: 100%;
    height: 400px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

}


.Project__section{
    height: 300px;}

.Project__info{
    margin: 10px 50px;
    background-color: #67BD93;box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: 250px;
}

.Project__section h1{
    position: relative; top: 5%;text-align: center;text-shadow: 1px 1px white;
}

.Project__section p{
    position: relative;text-align: justify;margin: 30px 100px;font-size: 20px;text-shadow: 1px 1px white;
}

.vt-button{
    width: 10%;position: relative;top: -15%;left: 65%;transition: 0.1s linear;
}

.vt-button:hover{transform: translateY(-10%);}

.Teacher__section{
    height: 300px;
    background-color: #67BD93;
}

.Teacher{
    padding: 5%;
    height: 200px
}

.Teacher__section p{
    font-family: 'Roboto Slab', serif;
}

@media (max-width:768px){

    .Header__About{
        width: 100%;}

    .Header__Image img{width: 100%;}

    .Image__content {left: 2.5%;top: 20%;font-size: 70px;}

    .School__section{height: 100vh;}
}
