.Container{
    border-radius: 5%;;
    width: 30%;height: 500px;
    background-color: white;
    margin: 5%;
    transition:1s ;
}


.Container:hover{
    transform: scale(1.1);
}


.Photo{
    display: flex;justify-content: center;margin:5%;
    border-radius: 50%;overflow: hidden;
}
.Photo img{width: 50%;height:110px;margin-bottom: 2%;border-radius: 50%;}

.Name{text-align: center;font-family: 'Roboto slab', serif; margin:5%;}

.Description{color:black;background-color: white;font-family: 'Roboto slab', serif;text-align: left;margin: 10%;}


@media (max-width:480px){

    .Container{
        position: relative;
        width: 60%;
        margin-bottom: 5%;
    }
}