.Footer{
    height: 180px;
    background-color: black;
    margin-top: 2%;
}
.Footer h1{font-family: 'Roboto Slab', serif; color: #67BD93; font-size: 40px;}
.Footer p{font-family: 'Roboto Slab', serif; color: #67BD93; font-size: 15px;}
.Footer a{font-family: 'Roboto Slab', serif; color: #67BD93; font-size: 15px;}

.Info{display: flex;}

.Contact{width: 50%;height: 170px;} /*Container contatti*/
#Contact{margin-left: 33%;} /*Contact*/
.Contact__mail{display: flex;}
.mail__prof{margin-left: 10%;margin-right: 5%;}

#Prof{position: relative; left: 25%;margin-bottom: 2%;color: white;}
#Student{position: relative; left: 25%;margin-bottom: 2%;color: white;}


.Links{
    width: 50%;
}
#Links{margin-left: 30%;}
.Links a{
    margin: 2%;
    color: #67BD93;
}
.Links a:hover{text-decoration: none;color: white;}


@media (max-width:400px){


    .Footer{
        height: 500px;
    }

    .Info{
        flex-direction: column;

    }
    .Contact{
        display: flex;flex-direction: column;
        width: 100%;height: 250px;

    }

    #Contact{
        width: 40%;
        position: relative;
    }
    .Contact__mail{
        display: flex;flex-direction: column;
    }
    
    
    #Prof{
        position: relative;
        margin-bottom: 0%;
    }

    .mail__prof p{
        position: relative;
        
    }

    #Student{
        position: relative;
        margin-bottom: 0%;
    }
    .mail__student p{
        position: relative;
        
    }
   
    .Links{
        display: flex;
        flex-direction: column;
        width:100%;
        height:200px;
        
    }
    
    #Links{
        position: relative;width: 30%;
        margin-bottom: 1%;
    }

    .Links a{
        position: relative;
        width: 40%;
    }
}