.Home{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    width: 100%;
}

.Header{
    display: flex;
    width:100%;height: 700px;
}

.Header__colored{background-color: #67BD93;width: 50%; height: 700px;}
.Header__colored img{width: 100%;height: 700px;}

.Header__post{position: relative; width: 80%; height: 200px;left: 10%;top: 30%;}


.Header__post h1{color: black; font-family: 'Roboto Slab', serif;font-size: 70px;animation: fadeIn 3s ;}
.Header__post p{color: black;font-family: 'Roboto Slab', serif ; font-size: 20px;margin:0%; animation: fadeIn 3s ;}
.post__button{position: relative;left: 65%;width: 20%;height:50px; transition: 0.1s linear;}

.post__button:hover{
    transform:translateY(-5%);
}
.Header__photo{width: 50%;height: 700px;}
.Header__photo img{width: 100%;height:700px;}


.Cards{
    margin-top: 5%;
    background-color: #67BD93;
    width: 100%;
}

.Cards__card{
    display: flex;
}




@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}


/****Smartphone*****/
@media (max-width:480px){
    .Home{width: 100%;}
    
    .Header{width: 100%;flex-direction: column;}

    .Header__post{text-align: center;top: 5%;}

    .Header__post h1{text-shadow: 1px 1px white;font-size: 45px;margin-bottom: 5%;margin-top: 5%;max-width: 100%;}
    .Header__post p{text-shadow: 1px 1px white;position: relative;font-size: 15px;}
    
    .Header__colored{width: 100%;height: 300px;}

    
    .Header__colored img{height: 300px;}
    .Header__photo{width: 100%;height: 300px;}
    .Header__photo img{height: 300px;}

    .post__button{left: 25%;width: 50%;top: 0%;}
    
    .Cards{
        border: 1px solid red;
        width: 100%;
    }

    .Cards__card{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        width: 100%;
    }


}

