.MailForm{width: 100%;height: 400px;}
    .Mail__Container{background-color: #67BD93;box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);display: flex;height: 450px;margin: 25px  10px;font-family: 'Roboto slab',serif;}
        .Image{width: 50%; display: flex;align-items: center;justify-content: center;}
            .Image img{width: 200px;height:200px ;rotate: 10deg;-webkit-transition: -webkit-transform 1s;}
            .Image img:hover{-webkit-transform: rotate(-360deg) translateZ(0) ; }
        .mail{width: 50%;}
            .mail form{margin: 20px 20px;}
                .Form__field{background-color: rgba(0, 0, 0, 0.2);border: none;margin: 1% ;width: 90%;}
                    #text{width: 90%;height: 200px;}
                    #Submit{width: 20%;}

/********** Smartphone w MaxWidth => 368px (Huawei) **********/
@media (min-width:300px) and (max-width:368px)
{
    .MailForm{height: 600px;}
    .Mail__Container{flex-direction: column-reverse;height: 600px;
    }

    .mail{width: 100%;}
        .mail form{width: 100%;margin: 5px;position: relative;top: -10%;}
    
    .Image{width: 100%;position: relative;top: -5%;}
            .Image img{width: 150px;height: 175px;}
}

/********** Smartphone w MaxWidth => 768px (Iphone) **********/
@media (min-width:370px) and (max-width:812px){
    .MailForm{height: 600px;}
    .Mail__Container{flex-direction: column-reverse;height: 600px;
    }

    .mail{width: 100%;}
        .mail form{width: 100%;margin: 5px;position: relative;top: -10%;}
    
    .Image{width: 100%;position: relative;top: -5%;}
            .Image img{width: 150px;height: 175px;}
}