iframe{height: 400px;width: 100%;border: none;
}

/********** Smartphone w MaxWidth => 368px (Huawei) **********/
@media (min-width:300px) and (max-width:368px){iframe{height: 500px;}}

/********** Smartphone w MaxWidth => 768px (Iphone) **********/

@media (min-width:370px) and (max-width:800px){iframe{height: 600px;}}