*:link{text-decoration: none;}


.Navbar{font-family:'Roboto Slab', serif;background-color: black;opacity: 0.9;display: flex;max-width:100%;height: 60px;
}

.Navbar__logo{width: 10%;}

.Navbar__logo img{width: 100%;}

.Navbar__item{width: 100%;margin-right: 1%;}



.menu__button{
    color: #67BD93;
    display: inline-block;text-align: center;line-height: 200%;
    width: 5%;height: 35px;float: right ;margin-right:2%;   
    position: relative;margin-top: 0.9%;
    list-style: none;
    transition:0.2s linear;
}
.menu__button:hover{background-color: #67BD93;text-decoration: none;color: black;border-radius: 3%;transform: translateY(-5%);}
#Navbar-button-responsive{display: none;}



.Navbar__cta{
    position: relative;top:15%;right: 1%;width: 10%;height: 40px;

    list-style: none;text-decoration: none;
    text-align: center;line-height: 250%;
    
    border-radius: 2%;  
    }

.Navbar__cta a{
    background-color: #67BD93;color: black;border-radius: 3%;
    display: block;height: 40px;
    transition: 0.2s linear;
}
.Navbar__cta a:hover{text-decoration: none;background-color: white;color: black;transform:translateY(-3%);}


#Navbar-button-responsive{display: none;}
.Button-responsive{display: none;}


@media (max-width:480px){
    .Navbar{
        width: 100%;
        margin: 0%;padding: 0%;
    }
    .Navbar__logo{width: 30%;}

 
    .Navbar__item{
       
        width: 100%;
        height: 100%;
        z-index: 2;

        position: relative;
        top: 20%;
    }


    .menu__button{
        border: 1px solid red;
        color: black;
        width: 100%;
        left: 0%;
    }

    .Navbar__cta{display: none;}
    


    .Button-responsive{
        border: 1px solid red;
        border-radius: 2%;
        position: absolute;right: 2%;
        display: flex;align-items: center;justify-content: center;
        width: 20%; 
    }

    #check{display: none;}
    .Checkbtn{
        font-size:30px;color: white;cursor: pointer;
    }
}

