.slides-images{
    height: 400px;
    margin: 0% 10%;
    overflow: hidden;
}

.slides-images img{
    height: 400px;width: 100%;
    z-index: 0;
}

.btn-left{
    background: none;
    position: absolute;
    top: 115%;left:11%;
}

.btn-left img{
    height: 50px;   
}

.btn-right{
    background: none;
    position: absolute;
    left: 85%;top: 115%;
    
}
.btn-right img{
    height: 50px;
}

@-webkit-keyframes sliderAnimation{
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left:25%px;}
    30%{left:25%px;}
    40%{left:50%px}
    50%{left: 50%px;;}
    60%{left: 25%px;}
    70%{left:25%px;}
    80%{left:0px}
    90%{left: 0px;}
    100%{left: 0px;}
}